@tailwind base;
@tailwind components;
@tailwind utilities;

div.imgBox {
    display: inline-block;
    overflow: hidden !important;
  }
  
  div.imgBox img {
    transition: .3s ease-in-out !important;
  }
  
  div.imgBox:hover img {
    transform: scale(1.3) !important;
  }

  .splide__arrow {
    display: none !important;
  }
  .splide__arrow:disabled {
    pointer-events: none;
    display: none !important;
  }


  .splide__pagination {
    bottom: -40px !important;
  }
  .splide__pagination__page.is-active {

    background: green !important;
    transform: scale(1.4);
  }
